#preview{
  width:100vh;
  margin:auto;
  border:2px solid red;
  margin-top:30px;
  overflow-x: scroll;
}

#editor_box{
  width:900px;
  margin:auto;
  margin-top:30px;
}

#editor{
  width:100%;
}

#editor_heading{
  height:50px;
  width:100%;
  text-align:center;
  font-family:cursive;
  font-size:x-large
}